<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
</head>

<body>
    <div class="container">

    {{>header}}
    {{>sidebar}}

    <h1>Help</h1>

    </div>

    {{>footer}}
</body>

</html>