<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Alfa Romeo </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Alfa Romeo </h1>
        </div>
        <div class="car-post">
            <img id="4c" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%204C-01.png" alt="Alfa Romeo 4C">
            <h2>4C</h2>
            <h4>2013-2020</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72324131-alfa-romeo-4c-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="8ccompetizione" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%208C%20Competizione-02.png" alt="Alfa Romeo 8C Competizione">
            <h2>8C Competizione</h2>
            <h4>2007-2010</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72332635-alfa-romeo-8c-competizione-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="alfettagtv" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Alfetta%20GTV-03.png" alt="Alfa Romeo Alfetta GTV">
            <h2>Alfetta GTV</h2>
            <h4>1974-1980</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72390902-alfa-romeo-alfetta-gtv-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="brera" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Brera-04.png" alt="Alfa Romeo Brera">
            <h2>Brera</h2>
            <h4>2005-2010</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72409005-alfa-romeo-brera-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20GT-09.png" alt="Alfa Romeo GT">
            <h2>GT</h2>
            <h4>2003-2010</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72481454-alfa-romeo-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="gta" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20GTA-06.png" alt="Alfa Romeo GTA">
            <h2>GTA</h2>
            <h4>1965-1969</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72420742-alfa-romeo-gta-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="gtv" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20GTV-10.png" alt="Alfa Romeo GTV">
            <h2>GTV</h2>
            <h4>1993-2004</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72499750-alfa-romeo-gtv-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="giuliaquadrifoglio" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Giulia%20Quadrifoglio-08.png" alt="Alfa Romeo Giulia Quadrifoglio">
            <h2>Giulia Quadrifoglio</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72432010-alfa-romeo-giulia-quadrifoglio-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="giuliasprintspeciale" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Giulia%20Sprint%20Speciale-05.png" alt="Alfa Romeo Giulia Sprint Speciale">
            <h2>Giulia Sprint Speciale</h2>
            <h4>1959-1966</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72412608-alfa-romeo-giulia-sprint-speciale-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="giuliatz2" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Giulia%20TZ2-14.png" alt="Alfa Romeo Giulia TZ2">
            <h2>Giulia TZ2</h2>
            <h4>1965-1967</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/73005745-alfa-romeo-giulia-tz2-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="juniorz" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Junior%20Z-07.png" alt="Alfa Romeo Junior Z">
            <h2>Junior Z</h2>
            <h4>1969-1972</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72428264-alfa-romeo-junior-z-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="montreal" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Montreal-11.png" alt="Alfa Romeo Montreal">
            <h2>Montreal</h2>
            <h4>1970-1977</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72530276-alfa-romeo-montreal-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sz" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20SZ-12.png" alt="Alfa Romeo SZ">
            <h2>SZ</h2>
            <h4>1989-1991</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/72767646-alfa-romeo-sz-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="spiderduetto" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Spider%201966-13.png" alt="Alfa Romeo Spider Duetto">
            <h2>Spider Duetto</h2>
            <h4>1966-1969</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/73003285-alfa-romeo-spider-1966-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="tipo33" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Alfa%20Romeo/Alfa%20Romeo%20Tipo%2033-15.png" alt="Alfa Romeo Tipo 33">
            <h2>Tipo 33</h2>
            <h4>1967-1969</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/73054375-alfa-romeo-tipo-33-stradale-silhouette?asc=u">Shop</a></h3>
        </div>

    </div>

    {{>footer}}

    {{>script}}

</body>

</html>