<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Audi </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Audi </h1>
        </div>
        <div class="car-post">
            <img id="80variantf103" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%2080%20Variant%20(F103)-01.png" alt="Audi 80 Variant (F103)">
            <h2>80 Variant (F103)</h2>
            <h4>1966-1969</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93780956-audi-80-variant-f103-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="80gtb1" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%2080%20GT%20(B1)-02.png" alt="Audi 80 GT (B1)">
            <h2>80 GT (B1)</h2>
            <h4>1973-1976</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93782883-audi-80-gt-b1-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="80quattrob2" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%2080%20Quattro%20(B2)-03.png" alt="Audi 80 Quattro (B2)">
            <h2>80 Quattro (B2)</h2>
            <h4>1982-1984</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93784634-audi-80-quattro-b2-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="8020eb3" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%2080%202.0E%20(B3)-04.png" alt="Audi 80 2.0E (B3)">
            <h2>80 2.0E (B3)</h2>
            <h4>1991</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93791475-audi-80-2-0e-b3-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="100coupesc1" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20100%20Coupe%20S%20(C1)-05.png" alt="Audi 100 Coupe S (C1)">
            <h2>100 Coupe S (C1)</h2>
            <h4>1970-1976</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93802355-audi-100-coupe-s-c1-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="100coupec2" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20100%20Coupe%20(C2)-06.png" alt="Audi 100 Coupe (C2)">
            <h2>100 Coupe (C2)</h2>
            <h4>1978-1982</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93804243-audi-100-coupe-c2-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="100c3" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20100%20(C3)-07.png" alt="Audi 100 (C3)">
            <h2>100 (C3)</h2>
            <h4>1982-1995</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93810715-audi-100-c3-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="a58f" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20A5%208F-01.png" alt="Audi A5 (8F)">
            <h2>A5 (8F)</h2>
            <h4>2007-2016</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/62824030-audi-a5-coupe-8t-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="cabriolet" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20Cabriolet-10.png" alt="Audi Cabriolet">
            <h2>Cabriolet</h2>
            <h4>1991-2000</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93853074-audi-cabriolet-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="etrongt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20e-tron%20GT-10.png" alt="Audi e-Tron GT">
            <h2>e-Tron GT</h2>
            <h4>2020-present</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/73094488-audi-e-tron-gt-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="quattro" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20Quattro-03.png" alt="Audi Quattro">
            <h2>Quattro</h2>
            <h4>1980-1991</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/67664628-audi-quattro-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="r82006" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20R8%202007-04.png" alt="Audi R8 2006">
            <h2>R8 (Type 42)</h2>
            <h4>2006-2015</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/73058223-audi-r8-2007-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="r82015" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20R8%202015-05.png" alt="Audi R8 2015">
            <h2>R8 (Type 4S)</h2>
            <h4>2015-present</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/73058441-audi-r8-2015-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="rs2avant" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20RS2%20Avant-11.png" alt="Audi RS2 Avant">
            <h2>RS2 Avant</h2>
            <h4>1994-1995</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93860398-audi-rs2-avant-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="s2coupe" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20S2%20Coupe-09.png" alt="Audi S2 Coupé">
            <h2>S2 Coupé</h2>
            <h4>1991-1995</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93851160-audi-s2-coupe-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="s6c4" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20S6%20(C4)-12.png" alt="Audi S6 (C4)">
            <h2>S6 (C4)</h2>
            <h4>1994-1997</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93871252-audi-s6-c4-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="sportquattro" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20Sport%20Quattro-02.png" alt="Audi Sport Quattro">
            <h2>Sport Quattro</h2>
            <h4>1984-1986</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/67633631-audi-sport-quattro-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tt8n" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20TT%201998-06.png" alt="Audi TT 1998">
            <h2>TT (Type 8N)</h2>
            <h4>1998-2006</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/67735532-audi-tt-1998-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="ttroadster8n" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20TT%20Roadster%20(8N)-11.png" alt="Audi TT Roadster 1998">
            <h2>TT Roadster (8N)</h2>
            <h4>1998-2006</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93815566-audi-tt-roadster-8n-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tt8j" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20TT%202006-07.png" alt="Audi TT 2006">
            <h2>TT (Type 8J)</h2>
            <h4>2006-2014</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/67759688-audi-tt-2006-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="ttroadster8j" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20TT%20Roadster%20(8J)-12.png" alt="Audi TT Roadster 2006">
            <h2>TT Roadster (8J)</h2>
            <h4>2006-2014</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93848530-audi-tt-roadster-8j-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tt8s" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20TT%202014-08.png" alt="Audi TT 2014">
            <h2>TT (8S)</h2>
            <h4>2014-present</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/67768432-audi-tt-2014-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="ttroadster8s" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20TT%20Roadster%20(8S)-13.png" alt="Audi TT Roadster 2014">
            <h2>TT Roadster (8S)</h2>
            <h4>2014-present</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93850231-audi-tt-roadster-8s-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="v8" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Audi/Audi%20V8-08.png" alt="Audi V8">
            <h2>V8</h2>
            <h4>1988-1994</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93873159-audi-v8-silhouette?asc=u">Shop</a></h3> --}}
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>