<!doctype html>
<html>

<head>
    
    <link rel="icon" href="/img/iconMain-10.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/sidebarStyles.css">

</head>

<body>

    <title> Audi </title>

    <div class="container">

    {{>header}}
    {{>sidebar}}

        <div class="item-main">
            <div class="main">
                <h1 id="mainTitle"> Audi </h1>
                <img id="a58f" class="fullimage" src="img/Audi A5 8F-01.png">
                <br>
                <h2>A5 (8F)</h2>
                <h4>2007-2016</h4>
                <br>
                <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/62824030-audi-a5-coupe-8t-silhouette?asc=u">Shop</a></h3>
            </div>
        </div>

        {{>footer}}

    </div>

    {{>script}}
</body>

</html>