<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Bestsellers </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Top 10 Best Sellers </h1>
        </div>
        <div class="car-post">
            <img id="stingergt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Kia/Kia%20Stinger%20GT-03.png" alt="Kia Stinger GT">
            <h2>#1</h2>
            <h2>Kia Stinger GT</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/58005078-kia-stinger-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="roma" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Ferrari/Ferrari%20Roma-10.png" alt="Ferrari Roma">
            <h2>#2</h2>
            <h2>Ferrari Roma</h2>
            <h4>2020-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/57927848-ferrari-roma-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="genesiscoupe" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Hyundai/Hyundai%20Genesis%20Coupe-01.png" alt="Hyundai Genesis Coupe">
            <h2>#3</h2>
            <h2>Hyundai Genesis Coupe</h2>
            <h4>2008-2016</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/58002064-hyundai-genesis-coupe-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="db9" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Aston%20Martin/Aston%20Martin%20DB9-05.png" alt="Aston Martin DB9">
            <h2>#4</h2>
            <h2>Aston Martin DB9</h2>
            <h4>2004-2016</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/58297923-aston-martin-db9-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="miura" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lamborghini/Lamborghini%20Miura-04.png" alt="Lamborghini Miura">
            <h2>#5</h2>
            <h2>Lamborghini Miura P400</h2>
            <h4>1966-1973</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/57846382-lamborghini-miura-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mr2w30" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20MR2%20W30-06.png" alt="Toyota MR2 (W30)">
            <h2>#6</h2>
            <h2>Toyota MR2 (W30)</h2>
            <h4>1999-2007</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60182947-toyota-mr2-w30-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="456mgt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Ferrari/Ferrari%20456M%20GT-09-min.png" alt="Ferrari 456M GT">
            <h2>#7</h2>
            <h2>456M GT</h2>
            <h4>1998-2003</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63771322-ferrari-456m-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sv1" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bricklin/Bricklin%20SV-1-01.png" alt="Bricklin SV-1">
            <h2>#8</h2>
            <h2>Bricklin SV-1</h2>
            <h4>1974-1975</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63961462-bricklin-sv-1-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xbowrr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/KTM/KTM%20X-Bow%20RR-01.png" alt="KTM X-Bow RR">
            <h2>#9</h2>
            <h2>X-Bow RR</h2>
            <h4>2016-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70863023-ktm-x-bow-rr-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mr2w10" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20MR2%20W10-08.png" alt="Toyota MR2 (W10)">
            <h2>#10</h2>
            <h2>MR2 (W10)</h2>
            <h4>1984-1989</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60183347-toyota-mr2-w10-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>