<!doctype html>
<html>

<head>
    
    <link rel="icon" href="/img/iconMain-10.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/sidebarStyles.css">

</head>

<body>

    <title> Bricklin </title>

    <div class="container">

    {{>header}}
    {{>sidebar}}

        <div class="item-main">
            <div class="main">
                <h1 id="mainTitle"> Bricklin </h1>
                <img id="sv-1" class="fullimage" src="img/Bricklin SV-1-01.png">
                <br>
                <h2>SV-1</h2>
                <h4>1974-1975</h4>
                <br>
                <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63961462-bricklin-sv-1-silhouette?asc=u">Shop</a></h3>
            </div>
        </div>

        {{>footer}}

    </div>

    {{>script}}

</body>

</html>