<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Bugatti </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Bugatti </h1>
        </div>
        <div class="car-post">
            <img id="centodieci" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bugatti/Bugatti%20Centodieci-01.png" alt="Bugatti Centodieci">
            <h2>Centodieci</h2>
            <h4>2020-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93395949-bugatti-centodieci-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="chiron" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bugatti/Bugatti%20Chiron-02.png" alt="Bugatti Chiron">
            <h2>Chiron</h2>
            <h4>2016-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93397454-bugatti-chiron-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="chironsupersport" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bugatti/Bugatti%20Chiron%20Super%20Sport-03.png" alt="Bugatti Chiron Super Sport">
            <h2>Chiron Super Sport</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93399855-bugatti-chiron-super-sport-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="divo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bugatti/Bugatti%20Divo-04.png" alt="Bugatti Divo">
            <h2>Divo</h2>
            <h4>2018-2021</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93403704-bugatti-divo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="eb110gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bugatti/Bugatti%20EB110%20GT-05.png" alt="Bugatti EB 110 GT">
            <h2>EB 110 GT</h2>
            <h4>1992-1995</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93404513-bugatti-eb110-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="eb110ss" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bugatti/Bugatti%20EB110%20SS-06.png" alt="Bugatti EB 110 SS">
            <h2>EB 110 SS</h2>
            <h4>1993-1995</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93406071-bugatti-eb110-ss-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="veyron" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bugatti/Bugatti%20Veyron-07.png" alt="Bugatti Veyron EB 16.4">
            <h2>Veyron</h2>
            <h4>2005-2011</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93411465-bugatti-veyron-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="veyrongrandsport" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Bugatti/Bugatti%20Veyron%20Grand%20Sport-08.png" alt="Bugatti Veyron Grand Sport">
            <h2>Veyron Grand Sport</h2>
            <h4>2008-2012</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93411641-bugatti-veyron-grand-sport-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>