<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Citroën </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Citroën </h1>
        </div>
        <div class="car-post">
            <img id="2cv" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%202CV-01.png" alt="Citroën 2CV">
            <h2>2CV</h2>
            <h4>1948-1990</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70472027-citroen-2cv-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="axgti" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20AX%20GTi-13.png" alt="Citroën AX GTi">
            <h2>AX GTi</h2>
            <h4>1991-1995</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78784482-citro-n-ax-gti-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="bx4tc" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20BX%204TC-03.png" alt="Citroën BX 4TC">
            <h2>BX 4TC</h2>
            <h4>1985-1986</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70520478-citroen-bx-4tc-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="bxgti16v" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20BX%20GTi%2016v-02.png" alt="Citroën BX GTi 16v">
            <h2>BX GTi 16v</h2>
            <h4>1987-1989</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70479711-citroen-bx-gti-16v-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="c2vts" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20C2%20VTS-14.png" alt="Citroën C2 VTS">
            <h2>C2 VTS</h2>
            <h4>2004-2008</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78794102-citro-n-c2-vts-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="c4vts" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20C4%20VTS-15.png" alt="Citroën C4 VTS">
            <h2>C4 VTS</h2>
            <h4>2008-2010</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78801882-citro-n-c4-vts-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="c6" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20C6-04.png" alt="Citroën C6">
            <h2>C6</h2>
            <h4>2005-2012</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70521580-citroen-c6-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="cx" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20CX-05.png" alt="Citroën CX">
            <h2>CX</h2>
            <h4>1974-1991</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70538036-citroen-cx-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="ds" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20DS%2023%20Pallas-06.png" alt="Citroën DS">
            <h2>DS 23 Pallas</h2>
            <h4>1955-1975</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70562050-citroen-ds-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="dyane" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20Dyane-07.png" alt="Citroën Dyane">
            <h2>Dyane</h2>
            <h4>1967-1983</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70600848-citroen-dyane-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="emehari" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20E-Mehari-08.png" alt="Citroën E-Méhari">
            <h2>E-Méhari</h2>
            <h4>2016-2019</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70614906-citroen-e-m-hari-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="gtbycitroen" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20GT-12.png" alt="GT by Citroën">
            <h2>GT by Citroën</h2>
            <h4>2008</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70625486-gt-by-citro-n-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="saxovts" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20Saxo%20VTS-16.png" alt="Citroën Saxo VTS">
            <h2>Saxo VTS</h2>
            <h4>1996-1997</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78804623-citro-n-saxo-vts-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="sm" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20SM-10.png" alt="Citroën SM">
            <h2>SM</h2>
            <h4>1970-1975</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70624921-citroen-sm-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="visa1000pistes" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citro%C3%ABn%20Visa%201000%20Pistes-01.png" alt="Citroën Visa 1000 Pistes">
            <h2>Visa 1000 Pistes</h2>
            <h4>1983-1984</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78847858-citro-n-visa-1000-pistes-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="xm" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Citroen/Citroen%20XM-11.png" alt="Citroën XM">
            <h2>XM</h2>
            <h4>1989-2000</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/70625169-citroen-xm-silhouette?asc=u">Shop</a></h3> --}}
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>