<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Holden </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="openbtn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Holden </h1>
        </div>
        <div class="car-post">
            <img id="commodoressvy" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20Commodore%20SS%20VY-03.png" alt="Holden Commodore SS (VY)">
            <h2>Commodore SS (VY)</h2>
            <h4>2002-2004</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60996267-holden-commodore-ss-vy-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="commodoreutessvz" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20Commodore%20Ute%20SS%20Thunder%20VZ-04.png" alt="Holden Commodore Ute SS Thunder (Vz)">
            <h2>Commodore Ute SS Thunder (VZ)</h2>
            <h4>2004-2007</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60996440-holden-commodore-ute-ss-thunder-vz-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="hdtcommodorevc" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20HDT%20Commodore%20VC-05.png" alt="Holden HDT Commodore (VC)">
            <h2>HDT Commodore (VC)</h2>
            <h4>1980</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60996267-holden-commodore-ss-vy-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="hdtcommodoregroupavk" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20HDT%20Commodore%20Group%20A%20VK-06.png" alt="Holden HDT Commodore Group A (VK)">
            <h2>HDT Commodore Group A (VK)</h2>
            <h4>1985</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/61066583-hdt-commodore-group-a-ss-vk-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="hsvgtsgenf" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20HSV%20GTS%20Gen-F-01.png" alt="Holden HSV GTS (Gen-F)">
            <h2>HSV GTS (Gen-F)</h2>
            <h4>2013-2017</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60887988-hsv-gts-gen-f2-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="hsvgtsrvs" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20HSV%20GTS-R%20VS-08.png" alt="Holden HSV GTS-R (VS)">
            <h2>HSV GTS-R (VS)</h2>
            <h4>1996</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/61066199-hsv-gts-r-vs-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="hsvmaloogenf" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20HSV%20Maloo%20Gen-F-02.png" alt="Holden HSV Maloo (Gen-F)">
            <h2>HSV Maloo (Gen-F)</h2>
            <h4>2013-2017</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60888484-hsv-maloo-gen-f2-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="hsvssgroupasvvl" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20HSV%20SS%20Group%20A%20SV%20VL-07.png" alt="Holden HSV SS Group A SV (VL)">
            <h2>HSV SS Group A SV (VL)</h2>
            <h4>1988</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/61066409-hsv-ss-group-a-sv-vl-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="monarocv8zvz" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20Monaro%20CV8-Z%20VZ-12.png" alt="Holden Monaro CV8-Z (VZ)">
            <h2>Monaro CV8-Z (VZ)</h2>
            <h4>2004-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/61133874-holden-monaro-cv8-z-vz-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="monarogtshk" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20Monaro%20GTS%20HK-10.png" alt="Holden Monaro GTS (HK)">
            <h2>Monaro GTS (HK)</h2>
            <h4>1968-1971</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/61133295-holden-monaro-gts-hk-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="monarogtshq" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20Monaro%20GTS%20HQ-11.png" alt="Holden Monaro GTS (HQ)">
            <h2>Monaro GTS (HQ)</h2>
            <h4>1971-1977</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/61133534-holden-monaro-gts-hq-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="toranaa9xlx" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Holden/Holden%20Torana%20A9X-09.png" alt="Holden Torana A9X (LX)">
            <h2>Torano A9X (LX)</h2>
            <h4>1976-1978</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/61133035-holden-torana-a9x-lx-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>