<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Honda </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Honda </h1>
        </div>
        <div class="car-post">
            <img id="beat" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20Beat-14.png" alt="Honda Beat">
            <h2>Beat</h2>
            <h4>1991-1995</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76531193-honda-beat-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="crx" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20CR-X-12.png" alt="Honda CR-X">
            <h2>CR-X</h2>
            <h4>1984-1987</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76489223-honda-cr-x-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="crxef" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20CR-X%20EF-13.png" alt="Honda CR-X (EF)">
            <h2>CR-X (EF)</h2>
            <h4>1988-1991</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76490198-honda-cr-x-ef-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="crz" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20CR-Z-11.png" alt="Honda CR-Z">
            <h2>CR-Z</h2>
            <h4>2010-2016</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76372964-honda-cr-z-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="delsol" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20del%20Sol-10.png" alt="Honda del Sol">
            <h2>del Sol</h2>
            <h4>1992-1998</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76323829-honda-del-sol-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="integratyperdc2" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20Integra%20Type%20R%20DC2-09.png" alt="Honda Integra Type-R (DC2)">
            <h2>Integra Type-R (DC2)</h2>
            <h4>1995-1998</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76319360-honda-integra-type-r-dc2-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="nsxrgt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20NSX-R%20GT-08.png" alt="Honda NSX-R GT">
            <h2>NSX-R GT</h2>
            <h4>2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76237356-honda-nsx-r-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="preludesn" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20Prelude%20SN-04.png" alt="Honda Prelude (SN)">
            <h2>Prelude (SN)</h2>
            <h4>1978-1982</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76117434-honda-prelude-sn-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="preludeab" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20Prelude%20AB-05.png" alt="Honda Prelude (AB)">
            <h2>Prelude (AB)</h2>
            <h4>1982-1987</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76138075-honda-prelude-ab-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="preludebb" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20Prelude%20BB-07.png" alt="Honda Prelude (BB)">
            <h2>Prelude (BB)</h2>
            <h4>1991-1996</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76151418-honda-prelude-bb-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="s2000" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20S2000-01.png" alt="Honda S2000">
            <h2>S2000</h2>
            <h4>1999-2009</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76023747-honda-s2000-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="s600" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20S600-03.png" alt="Honda S600">
            <h2>S600</h2>
            <h4>1964-1966</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76059924-honda-s600-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="s660" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Honda/Honda%20S660-02.png" alt="Honda S660">
            <h2>S660</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/76035150-honda-s660-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>