<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <title> Jaguar </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="openbtn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Jaguar </h1>
        </div>
        <div class="car-post">
            <img id="ctype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20C-Type-09.png" alt="Jaguar C-Type">
            <h2>C-Type</h2>
            <h4>1951-1953</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59665981-c-type-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="cx75" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20C-X75-08.png" alt="Jaguar C-X75">
            <h2>C-X75</h2>
            <h4>2010-2013</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59935606-c-x75-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="dtype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20D-Type-10.png" alt="Jaguar D-Type">
            <h2>D-Type</h2>
            <h4>1955-1957</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59671876-d-type-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="etype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20E-Type-02.png" alt="Jaguar E-Type">
            <h2>E-Type Series I</h2>
            <h4>1961-1968</h4>
            <h3>Buy here: Unavailable</a></h3>
        </div>
        <div class="car-post">
            <img id="ftype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20F-Type-06.png" alt="Jaguar F-Type">
            <h2>F-Type</h2>
            <h4>2013-2018</h4>
            <h3>Buy here: Unavailable</a></h3>
        </div>
        <div class="car-post">
            <img id="ftypesvproject7" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20F-Type%20Project%207-13.png" alt="Jaguar F-Type SV Project 7">
            <h2>F-Type SV Project 7</h2>
            <h4>2013</h4>
            <h3>Buy here: Unavailable</a></h3>
        </div>
        <div class="car-post">
            <img id="xesvproject8" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XE%20Project%208-14.png" alt="Jaguar XE Project 8">
            <h2>XE SV Project 8</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59947753-xe-project-8-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjs" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ-S-03.png" alt="Jaguar XJ-S">
            <h2>XJ-S</h2>
            <h4>1975-1996</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59427414-xj-s-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xj13" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ13-11.png" alt="Jaguar XJ13">
            <h2>XJ13</h2>
            <h4>1966</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59989734-xj13-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xj220" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ220-07.png" alt="Jaguar XJ220">
            <h2>XJ220</h2>
            <h4>1992-1994</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59535694-xj220-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xk120" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XK120-01.png" alt="Jaguar XK120">
            <h2>XK120</h2>
            <h4>1948-1954</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59361358-xk120-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xkrx100" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XKR%20(X100)-04.png" alt="Jaguar XKR (X100)">
            <h2>XKR (X100)</h2>
            <h4>1998-2006</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59498368-xkr-x100-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xkrsx150" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XKR-S-05.png" alt="Jaguar XKR-S (X150)">
            <h2>XKR-S (X150)</h2>
            <h4>2011-2014</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/59504284-xkr-s-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>