<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Jaguar </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Jaguar </h1>
        </div>
        <div class="car-post">
            <img id="420" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20420-01.png" alt="Jaguar 420">
            <h2>420</h2>
            <h4>1966-1968</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646779-jaguar-420-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="ctype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20C-Type-02.png" alt="Jaguar C-Type">
            <h2>C-Type</h2>
            <h4>1951-1953</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/21359552-jaguar-c-type-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="cx75" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20C-X75-03.png" alt="Jaguar C-X75">
            <h2>C-X75</h2>
            <h4>2010-2013</h4>
            {{!-- <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/21359590-jaguar-c-x75-silhouette">Shop</a></h3> --}}
            <h3>Buy here: Currently Unavailable</h3>
        </div>
        <div class="car-post">
            <img id="dtype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20D-Type-04.png" alt="Jaguar D-Type">
            <h2>D-Type</h2>
            <h4>1955-1957</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/21359651-jaguar-d-type-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="epace" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20E-Pace-05.png" alt="Jaguar E-Pace">
            <h2>E-Pace</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646818-jaguar-e-pace-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="etype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20E-Type-06.png" alt="Jaguar E-Type">
            <h2>E-Type</h2>
            <h4>1961-1968</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/19031880-jaguar-e-type-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="fpacesvr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20F-Pace%20SVR-07.png" alt="Jaguar F-Pace SVR">
            <h2>F-Pace SVR</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646834-jaguar-f-pace-svr-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="ftype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20F-Type-08.png" alt="Jaguar F-Type">
            <h2>F-Type</h2>
            <h4>2013-2020</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/19032057-jaguar-f-type-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="ftypesvproject7" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20F-Type%20Project%207-10.png" alt="Jaguar F-Type SV Project 7">
            <h2>F-Type SV Project 7</h2>
            <h4>2013</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/19032093-jaguar-f-type-project-7-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="ftypesvr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20F-Type%20SVR-09.png" alt="Jaguar F-Type SVR">
            <h2>F-Type SVR</h2>
            <h4>2016-2020</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646852-jaguar-f-type-svr-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="ipace" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20I-Pace-11.png" alt="Jaguar I-Pace">
            <h2>I-Pace</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646894-jaguar-i-pace-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="markii" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20Mark%20II-12.png" alt="Jaguar Mark II">
            <h2>Mark II</h2>
            <h4>1959-1967</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646905-jaguar-mark-ii-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="markx" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20Mark%20X-13.png" alt="Jaguar Mark X">
            <h2>Mark X</h2>
            <h4>1961-1965</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646928-jaguar-mark-x-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="stype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20S-Type-14.png" alt="Jaguar S-Type">
            <h2>S-Type</h2>
            <h4>1999-2007</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646946-jaguar-s-type-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xtype" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20X-Type-15.png" alt="Jaguar X-Type">
            <h2>X-Type</h2>
            <h4>2002-2009</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647321-jaguar-x-type-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xe" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XE-16.png" alt="Jaguar XE">
            <h2>XE</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XE-16.png">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xesvproject8" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XE%20Project%208-01.png" alt="Jaguar XE Project 8">
            <h2>XE SV Project 8</h2>
            <h4>2017</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/21359674-jaguar-xe-project-8-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xfrx250" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XFR%20(X250)-02.png" alt="Jaguar XFR (X250)">
            <h2>XFR (X250)</h2>
            <h4>2011-2015</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27646998-jaguar-xfr-x250-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xfx260" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XF%20(X260)-03.png" alt="Jaguar XF (X260)">
            <h2>XF (X260)</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647037-jaguar-xf-x260-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjseriesii" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ%20(Series%20II)-04.png" alt="Jaguar XJ (Series II)">
            <h2>XJ (Series II)</h2>
            <h4>1973-1979</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647060-jaguar-xj-series-ii-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjcseriesii" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ%20Coupe%20(Series%20II)-05.png" alt="Jaguar XJ-C (Series II)">
            <h2>XJ-C (Series II)</h2>
            <h4>1975-1978</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647085-jaguar-xj-coupe-series-ii-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjxj40" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ%20(XJ40)-06.png" alt="Jaguar XJ (XJ40)">
            <h2>XJ (XJ40)</h2>
            <h4>1986-1994</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647120-jaguar-xj-xj40-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjx300" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ%20(X300)-07.png" alt="Jaguar XJ (X300)">
            <h2>XJ (X300)</h2>
            <h4>1994-2003</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647144-jaguar-xj-x300-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjportfoliox358" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ%20Portfolio%20(X358)-08.png" alt="Jaguar XJ Portfolio (X358)">
            <h2>XJ Portfolio (X358)</h2>
            <h4>2007-2009</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647241-jaguar-xj-portfolio-x358-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjlx351" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ%20L%20(X351)-09.png" alt="Jaguar XJ L (X351)">
            <h2>XJ L (X351)</h2>
            <h4>2009-2019</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647276-jaguar-xj-l-x351-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjs" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ-S-12.png" alt="Jaguar XJ-S">
            <h2>XJ-S</h2>
            <h4>1975-1996</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/21359698-jaguar-xj-s-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xjr15" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJR-15-10.png" alt="Jaguar XJR-15">
            <h2>XJR-15</h2>
            <h4>1990-1993</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27647305-jaguar-xjr-15-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xj13" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ13-13.png" alt="Jaguar XJ13">
            <h2>XJ13</h2>
            <h4>1966</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/19032159-jaguar-xj13-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xj220" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XJ220-11.png" alt="Jaguar XJ220">
            <h2>XJ220</h2>
            <h4>1992-1994</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/21359714-jaguar-xj220-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xk120" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XK120-14.png" alt="Jaguar XK120">
            <h2>XK120</h2>
            <h4>1948-1954</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/21359736-jaguar-xk120-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xkrx100" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XKR%20(X100)-15.png" alt="Jaguar XKR (X100)">
            <h2>XKR (X100)</h2>
            <h4>1998-2006</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/19032135-jaguar-xk-x100-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xkrsx150" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Jaguar/Jaguar%20XKR-S-16.png" alt="Jaguar XKR-S (X150)">
            <h2>XKR-S (X150)</h2>
            <h4>2011-2014</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/21359755-jaguar-xkr-s-silhouette?store_id=691587">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>