<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Lancia </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="openbtn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Lancia </h1>
        </div>
        <div class="car-post">
            <img id="037stradale" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lancia/Lancia%20037%20Stradale-04.png" alt="Lancia 037 Stradale">
            <h2>037 Stradale</h2>
            <h4>1982-1983</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60596137-lancia-037-stradale-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="deltahfintegraleevoluzione" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lancia/Lancia%20Delta%20HF%20Integrale-01.png" alt="Lancia Delta HF Integrale Evoluzione">
            <h2>Delta HF Integrale Evoluzione</h2>
            <h4>1991-1993</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60525670-lancia-delta-hf-integrale-evoluzione-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="deltas4se038" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lancia/Lancia%20Delta%20S4%20SE038-02.png" alt="Lancia Delta S4 (SE038)">
            <h2>Delta S4 (SE038)</h2>
            <h4>1984-1986</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60560087-lancia-delta-s4-stradale-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="fulvia1600hfcorsa" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lancia/Lancia%20Fulvia%201600%20HF%20Corsa-06.png" alt="Lancia Fulvia 1600 HF Corsa">
            <h2>Fulvia 1600 HF Corsa</h2>
            <h4>1970-1974</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60674805-lancia-fulvia-1600-hf-corsa-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="montecarlo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lancia/Lancia%20Montecarlo-05.png" alt="Lancia Montecarlo">
            <h2>Montecarlo</h2>
            <h4>1975-1981</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60646420-lancia-montecarlo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="newstratos" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lancia/Lancia%20New%20Stratos-08.png" alt="Lancia New Stratos">
            <h2>New Stratos</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60682122-lancia-new-stratos-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="stratoshfstradale" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lancia/Lancia%20Stratos%20Stradale-07.png" alt="Lancia Stratos HF Stradale">
            <h2>Stratos HF Stradale</h2>
            <h4>1973-1978</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60675084-lancia-stratos-hf-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="thema832" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Lancia/Lancia%20Thema%208.32-03.png" alt="Lancia Thema 8.32">
            <h2>Thema 8.32</h2>
            <h4>1986-1988</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60675084-lancia-stratos-hf-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>