<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Land Rover </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Land Rover </h1>
        </div>
        <div class="car-post">
            <img id="defender90" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Defender%2090-01.png" alt="Land Rover Defender 90">
            <h2>90</h2>
            <h4>1984-2016</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731366-land-rover-defender-90-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="defender902020" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Defender%2090%20(2020)-03.png" alt="Land Rover Defender 90 (2020)">
            <h2>90</h2>
            <h4>2020-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731444-land-rover-defender-90-2020-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="defender110" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Defender%20110-02.png" alt="Land Rover Defender 110">
            <h2>110</h2>
            <h4>1983-2016</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731428-land-rover-defender-110-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="defender1102020" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Defender%20110%20(2020)-04.png" alt="Land Rover Defender 110 (2020)">
            <h2>110</h2>
            <h4>2020-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731483-land-rover-defender-110-2020-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="discovery1989" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Discovery%20(1989)-05.png" alt="Land Rover Discovery (1989)">
            <h2>Discovery</h2>
            <h4>1989-1998</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731492-land-rover-discovery-1989-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="discovery1998" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Discovery%20(1998)-06.png" alt="Land Rover Discovery (1998)">
            <h2>Discovery</h2>
            <h4>1998-2004</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731525-land-rover-discovery-1998-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="discovery2004" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Discovery%20(2004)-07.png" alt="Land Rover Discovery (2004)">
            <h2>Discovery</h2>
            <h4>2004-2016</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731593-land-rover-discovery-2004-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="discovery2017" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Discovery%20(2017)-08.png" alt="Land Rover Discovery (2017)">
            <h2>Discovery</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731626-land-rover-discovery-2017-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="discoverysport" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Discovery%20Sport-09.png" alt="Land Rover Discovery Sport">
            <h2>Discovery Sport</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731700-land-rover-discovery-sport-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="evoque2011" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20Evoque%20(2011)-04.png" alt="Range Rover Evoque (2011)">
            <h2>Evoque</h2>
            <h4>2011-2018</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27732015-range-rover-evoque-2011-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="evoqueconvertible2017" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20Evoque%20Convertible%20(2017)-05.png" alt="Range Rover Evoque Convertible (2017)">
            <h2>Evoque Convertible</h2>
            <h4>2017-2018</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27732059-range-rover-evoque-convertible-2017-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="evoque2019" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20Evoque%20(2019)-06.png" alt="Range Rover Evoque (2019)">
            <h2>Evoque</h2>
            <h4>2019-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27732079-range-rover-evoque-2019-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="freelander3door1997" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Freelander%203-Door%20(1997)-10.png" alt="Land Rover Freelander 3-Door (1997)">
            <h2>Freelander 3-Door</h2>
            <h4>1997-2006</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731714-land-rover-freelander-3-door-1997-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="freelander5door1997" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Freelander%205-Door%20(1997)-11.png" alt="Land Rover Freelander 5-Door (1997)">
            <h2>Freelander 5-Door</h2>
            <h4>1997-2006</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731743-land-rover-freelander-5-door-1997-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="freelander22006" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Freelander%20(2006)-12.png" alt="Land Rover Freelander 2 (2006)">
            <h2>Freelander 2</h2>
            <h4>2006-2015</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731758-land-rover-freelander-2-2006-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rangerover1970" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20(1970)-14.png" alt="Range Rover (1970)">
            <h2>Range Rover</h2>
            <h4>1970-1986</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731774-range-rover-1970-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rangerover1986" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20(1986)-15.png" alt="Range Rover (1986)">
            <h2>Range Rover</h2>
            <h4>1986-1994</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731805-range-rover-1986-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rangerover1994" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20(1994)-16.png" alt="Range Rover (1994)">
            <h2>Range Rover</h2>
            <h4>1994-2001</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731846-range-rover-1994-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rangerover2001" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20(2001)-01.png" alt="Range Rover (2001)">
            <h2>Range Rover</h2>
            <h4>2001-2012</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731888-range-rover-2001-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rangerover2012" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20(2012)-02.png" alt="Range Rover (2012)">
            <h2>Range Rover</h2>
            <h4>2012-2022</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731966-range-rover-2012-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rangerover2022" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20(2022)-03.png" alt="Range Rover (2022)">
            <h2>Range Rover</h2>
            <h4>2022-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27731990-range-rover-2022-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rangeroversport2005" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20Sport%20(2005)-07.png" alt="Range Rover Sport (2005)">
            <h2>Range Rover Sport</h2>
            <h4>2005-2013</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27732106-range-rover-sport-2005-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rangeroversportsvr2013" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20Sport%20(2013)-08.png" alt="Range Rover Sport SVR (2015)">
            <h2>Range Rover Sport SVR</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27732135-range-rover-sport-2013-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="seriesi" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Series%20I-13.png" alt="Land Rover Series I">
            <h2>Series I</h2>
            <h4>1948-1958</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27732166-land-rover-series-i-silhouette?store_id=691587">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="velar" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Land%20Rover/Land%20Rover%20Range%20Rover%20Velar-09.png" alt="Range Rover Velar">
            <h2>Velar</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/27732145-range-rover-velar-silhouette?store_id=691587">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>