<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Maserati </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Maserati </h1>
        </div>
        <div class="car-post">
            <img id="3200gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%203200%20GT-01.png" alt="Maserati 3200 GT">
            <h2>3200 GT</h2>
            <h4>1998-2002</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74318793-maserati-3200-gt-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="3500gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%203500%20GT-02.png" alt="Maserati 3500 GT">
            <h2>3500 GT</h2>
            <h4>1957-1964</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74374748-maserati-3500-gt-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="3500gtisebring" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%203500%20GTi%20Sebring-16.png" alt="Maserati 3500 GTi Sebring">
            <h2>3500 GTi Sebring</h2>
            <h4>1962-1969</h4>
            <h3>Buy here: <a href="https://www.teepublic.com/t-shirt/20886787-maserati-3500-gti-sebring-silhouette">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="5000gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%205000%20GT%20Scia%20di%20Persia-03.png" alt="Maserati 5000 GT Scia di Persia">
            <h2>5000 GT Scia di Persia</h2>
            <h4>1959</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74387525-maserati-5000-gt-sci-di-persia-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="biturbosi" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Biturbo%20Si-04.png" alt="Maserati Biturbo Si">
            <h2>Biturbo Si</h2>
            <h4>1981-1994</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74507994-maserati-biturbo-si-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="bora" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Bora-05.png" alt="Maserati Bora">
            <h2>Bora</h2>
            <h4>1971-1978</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74462990-maserati-bora-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="ghiblicup" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Ghibli%20Primatist-10.png" alt="Maserati Ghibli Cup">
            <h2>Ghibli Cup</h2>
            <h4>1992-1998</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74591377-maserati-ghibli-cup-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="ghiblis" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Ghibli%20S-11.png" alt="Maserati Ghibli S">
            <h2>Ghibli S</h2>
            <h4>2013-present</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74638495-maserati-ghibli-s-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="ghibliss" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Ghibli%20SS-06.png" alt="Maserati Ghibli SS">
            <h2>Ghibli SS</h2>
            <h4>1967-1973</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74507193-maserati-ghibli-ss-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="granturismomcstradale" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20GranTurismo%20MC%20Stradale-07.png" alt="Maserati GranTurismo MC Stradale">
            <h2>GranTurismo MC Stradale</h2>
            <h4>2007-2017</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74559351-maserati-granturismo-mc-stradale-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="indy" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Indy-08.png" alt="Maserati Indy">
            <h2>Indy</h2>
            <h4>1969-1975</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74559812-maserati-indy-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="khamsin" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Khamsin-09.png" alt="Maserati Khamsin">
            <h2>Khamsin</h2>
            <h4>1974-1982</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74589428-maserati-khamsin-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="mc12" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20MC12-12.png" alt="Maserati MC12">
            <h2>MC12</h2>
            <h4>2004-2005</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74642157-maserati-mc12-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="mc20" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20MC20-13.png" alt="Maserati MC20">
            <h2>MC20</h2>
            <h4>2020-present</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74658059-maserati-mc20-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="merakss" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Merak%20SS-14.png" alt="Maserati Merak SS">
            <h2>Merak SS</h2>
            <h4>1972-1983</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74680005-maserati-merak-ss-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="mistral" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Maserati/Maserati%20Mistral-15.png" alt="Maserati Mistral">
            <h2>Mistral</h2>
            <h4>1963-1970</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74680153-maserati-mistral-silhouette?asc=u">Shop</a></h3> --}}
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>