<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> McLaren </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> McLaren </h1>
        </div>
        <div class="car-post">
            <img id="570s" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20570S-04.png" alt="McLaren 570S">
            <h2>570S</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63083489-mclaren-570s-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="720s" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20720S-05.png" alt="McLaren 720S">
            <h2>720S</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63128626-mclaren-720s-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="elva" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20Elva-09.png" alt="McLaren Elva">
            <h2>Elva</h2>
            <h4>2020-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63395499-mclaren-elva-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="f1" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20F1-01.png" alt="McLaren F1">
            <h2>F1</h2>
            <h4>1992-1998</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/62991142-mclaren-f1-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20GT-08.png" alt="McLaren GT">
            <h2>GT</h2>
            <h4>2019-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63174783-mclaren-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mp412c" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20MP4-12C-02.png" alt="McLaren MP4-12C">
            <h2>MP4-12C</h2>
            <h4>2011-2014</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63040827-mclaren-mp4-12c-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="p1" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20P1-03.png" alt="McLaren P1">
            <h2>P1</h2>
            <h4>2013-2015</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63074929-mclaren-p1-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="senna" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20Senna-06.png" alt="McLaren Senna">
            <h2>Senna</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63143092-mclaren-senna-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="speedtail" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/McLaren/McLaren%20Speedtail-07.png" alt="McLaren Speedtail">
            <h2>Speedtail</h2>
            <h4>2020-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/63162418-mclaren-speedtail-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>