<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> MG </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> MG </h1>
        </div>
        <div class="car-post">
            <img id="3" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%203%20(2018)-01.png" alt="MG 3">
            <h2>3</h2>
            <h4>2011-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93182500-mg-3-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="5ev" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%205%20EV%20(2021)-02.png" alt="MG 5 EV">
            <h2>5 EV</h2>
            <h4>2021-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93183022-mg-5-ev-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="6" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%206-03.png" alt="MG 6 (2009)">
            <h2>6</h2>
            <h4>2009-2017</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93188571-mg-6-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mga1500" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MGA%201500-04.png" alt="MGA 1500">
            <h2>MGA 1500</h2>
            <h4>1955-1959</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93192949-mga-1500-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mga1500coupe" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MGA%201500%20Coupe-05.png" alt="MGA 1500 Coupe">
            <h2>MGA 1500 Coupe</h2>
            <h4>1955-1959</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93203131-mga-1500-coupe-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mgbgt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MGB%20GT-07.png" alt="MGB GT">
            <h2>MGB GT</h2>
            <h4>1965-1980</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93214835-mgb-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mgbroadster" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MGB%20Roadster-06.png" alt="MGB Roadster">
            <h2>MGB Roadster</h2>
            <h4>1962-1980</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93213514-mgb-roadster-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="f" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20F-08.png" alt="MG F Roadster">
            <h2>F</h2>
            <h4>1995-2002</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93217822-mg-f-roadster-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="gs" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20GS-09.png" alt="MG GS">
            <h2>GS</h2>
            <h4>2015-2019</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93230946-mg-gs-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="hs" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20HS-10.png" alt="MG HS">
            <h2>HS</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93262744-mg-hs-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="maestroturbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20Maestro%20Turbo-11.png" alt="MG Maestro Turbo">
            <h2>Maestro Turbo</h2>
            <h4>1989-1991</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93266545-mg-maestro-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="marvelr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20Marvel%20R-12.png" alt="MG Marvel R">
            <h2>Marvel R</h2>
            <h4>2021-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93266077-mg-marvel-r-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="metrotrubo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20Metro%20Turbo-13.png" alt="MG Metro Turbo">
            <h2>Metro Turbo</h2>
            <h4>1982-1989</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93267882-mg-metro-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="metro6r4" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20Metro%206R4-14.png" alt="MG Metro 6R4">
            <h2>Metro 6R4</h2>
            <h4>1985-1986</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93276087-mg-metro-6r4-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="midgetmkiii" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20Midget%20Mk%20III-15.png" alt="MG Midget Mk III">
            <h2>Midget Mk III</h2>
            <h4>1966-1974</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93283426-mg-midget-mk-iii-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="midget1500" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20Midget%201500-16.png" alt="MG Midget 1500">
            <h2>Midget 1500</h2>
            <h4>1974-1980</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93288214-mg-midget-1500-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="montegoturbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20Montego%20Turbo-01.png" alt="MG Montego Turbo">
            <h2>Montego Turbo</h2>
            <h4>1985-1988</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93298252-mg-montego-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="rv8" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20RV8-02.png" alt="MG RV8">
            <h2>RV8</h2>
            <h4>1992-1995</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93332374-mg-rv8-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="tf" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20TF-03.png" alt="MG TF (2002)">
            <h2>TF</h2>
            <h4>2002-2011</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93332842-mg-tf-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xpowersvr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20XPower%20SV-R-04.png" alt="MG XPower SV-R">
            <h2>XPower SV-R</h2>
            <h4>2004-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93335656-mg-xpower-sv-r-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="zr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20ZR-05.png" alt="MG ZR">
            <h2>ZR</h2>
            <h4>2001-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93350179-mg-zr-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="zs" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20ZS-06.png" alt="MG ZS (2001)">
            <h2>ZS</h2>
            <h4>2001-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93350369-mg-zs-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="zs2017" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20ZS%20(2017)-07.png" alt="MG ZS (2017)">
            <h2>ZS</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93352523-mg-zs-2017-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="zt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/MG/MG%20ZT-08.png" alt="MG ZT">
            <h2>ZT</h2>
            <h4>2001-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93354516-mg-zt-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>