<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Morgan </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Morgan </h1>
        </div>
        <div class="car-post">
            <img id="+4+" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Morgan/Morgan%20%2B4%2B-01.png" alt="Morgan +4+">
            <h2>+4+</h2>
            <h4>1964-1967</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/87838222-morgan-4-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="3wheeler" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Morgan/Morgan%203%20Wheeler-02.png" alt="Morgan 3 Wheeler">
            <h2>3 Wheeler</h2>
            <h4>2011-2021</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/87843654-morgan-3-wheeler-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="44seriesi" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Morgan/Morgan%204%204%20Series%20I%20(1946)-03.png" alt="Morgan 4/4 Series I">
            <h2>4/4 Series I</h2>
            <h4>1936-1950</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/87868242-morgan-4-4-series-i-1946-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="aero8" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Morgan/Morgan%20Aero%208-04.png" alt="Morgan Aero 8">
            <h2>Aero 8</h2>
            <h4>2002-2006</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/87911612-morgan-aero-8-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="aeromax" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Morgan/Morgan%20Aeromax-05.png" alt="Morgan Aeromax">
            <h2>Aeromax</h2>
            <h4>2008-2009</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/87920714-morgan-aeromax-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="fsuper" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Morgan/Morgan%20F-Super-06.png" alt="Morgan F-Super">
            <h2>F-Super</h2>
            <h4>1938-1952</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/87930926-morgan-f-super-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="plussix" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Morgan/Morgan%20Plus%20Six-07.png" alt="Morgan Plus Six">
            <h2>Plus Six</h2>
            <h4>2019-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/87964011-morgan-plus-six-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>