<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Opel </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Opel </h1>
        </div>
        <div class="car-post">
            <img id="ascona400b" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Ascona%20400-01.png" alt="Opel Ascona 400 (B)">
            <h2>Ascona 400 (B)</h2>
            <h4>1979</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78143840-opel-ascona-400-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="calibra" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Calibra-02.png" alt="Opel Calibra">
            <h2>Calibra</h2>
            <h4>1989-1997</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78146061-opel-calibra-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="commodoregsea" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Commodore%20GSE%20A-03.png" alt="Opel Commodore GS/E (A)">
            <h2>Commodore GS/E (A)</h2>
            <h4>1967-1972</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78150691-opel-commodore-gs-e-coupe-a-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="diplomatcoupea" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Diplomat%20Coupe%20A-04.png" alt="Opel Diplomat Coupe (A)">
            <h2>Diplomat Coupe (A)</h2>
            <h4>1965-1967</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78154575-opel-diplomat-coupe-a-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20GT-05.png" alt="Opel GT">
            <h2>GT</h2>
            <h4>1968-1973</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78164975-opel-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="kadettgtec" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Kadett%20GTE%20C-06.png" alt="Opel Kadett GT/E (C)">
            <h2>Kadett GT/E (C)</h2>
            <h4>1975-1979</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78252890-opel-kadett-gt-e-c-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mantaa" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Manta%20A-07.png" alt="Opel Manta (A)">
            <h2>Manta (A)</h2>
            <h4>1970-1975</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78253076-opel-manta-a-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="manta400b" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Manta%20400%20B-08.png" alt="Opel Manta 400 (B)">
            <h2>Manta 400 (B)</h2>
            <h4>1981-1984</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78253244-opel-manta-400-b-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="omega3000a" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Omega%203000%20A-09.png" alt="Opel Omega 3000 (A)">
            <h2>Omega 3000 (A)</h2>
            <h4>1987-1994</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78253398-opel-omega-3000-a-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="speedsterturbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Opel/Opel%20Speedster-10.png" alt="Opel Speedster Turbo">
            <h2>Speedster Turbo</h2>
            <h4>2003-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78253571-opel-speedster-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>