<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Renault </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Renault </h1>
        </div>
        <div class="car-post">
            <img id="5alpineturbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%205%20Alpine%20Turbo-01.png" alt="Renault 5 Alpine Turbo">
            <h2>5 Alpine Turbo</h2>
            <h4>1982-1984</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78279154-renault-5-alpine-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="5turbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%205%20Turbo-02.png" alt="Renault 5 Turbo">
            <h2>5 Turbo</h2>
            <h4>1980-1986</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78332047-renault-5-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="5gtturbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%205%20GT%20Turbo-01.png" alt="Renault 5 GT Turbo">
            <h2>5 GT Turbo</h2>
            <h4>1985-1996</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78997906-renault-5-gt-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="9turbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%209%20Turbo-16.png" alt="Renault 9 Turbo">
            <h2>9 Turbo</h2>
            <h4>1984-1988</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78996455-renault-9-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="21turboquadra" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%2021%20Turbo%20Quadra-15.png" alt="Renault 21 Turbo Quadra">
            <h2>21 Turbo Quadra</h2>
            <h4>1989-1993</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78985149-renault-21-turbo-quadra-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="avantime" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Avantime-02.png" alt="Renault Avantime">
            <h2>Avantime</h2>
            <h4>1999-2003</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/84836964-renault-avantime-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="cliowilliams" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Clio%20Williams-12.png" alt="Renault Clio Williams">
            <h2>Clio Williams</h2>
            <h4>1993-1995</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78966759-renault-clio-williams-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="cliov6" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Clio%20V6-13.png" alt="Renault Clio V6">
            <h2>Clio V6</h2>
            <h4>2003-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78969114-renault-clio-v6-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="cliors220trophy" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Clio%20RS%20220%20Trophy-14.png" alt="Renault Clio R.S. 220 Trophy">
            <h2>Clio R.S. 220 Trophy</h2>
            <h4>2016-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78982625-renault-clio-rs-220-trophy-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="lagunacoupe" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Laguna%20Coupe-11.png" alt="Renault Laguna Coupe">
            <h2>Laguna Coupe</h2>
            <h4>2008-2015</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78963824-renault-laguna-coupe-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="meganecoupe" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20M%C3%A9gane%20Coup%C3%A9-07.png" alt="Renault Mégane Coupé">
            <h2>Mégane Coupé</h2>
            <h4>1995-2003</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78912105-renault-m-gane-coup-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="meganer26r" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Megane%20RS%20R26R-08.png" alt="Renault Mégane R.S. R26.R">
            <h2>Mégane R.S. R26.R</h2>
            <h4>2008</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78923960-renault-m-gane-rs-r26-r-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="meganers275trophyr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20M%C3%A9gane%20RS%20275%20Trophy-R-09.png" alt="Renault Mégane R.S. 275 Trophy-R">
            <h2>Mégane R.S. 275 Trophy-R</h2>
            <h4>2014-2016</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78925625-renault-m-gane-rs-275-trophy-r-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="meganerstrophyr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20M%C3%A9gane%20RS%20Trophy-R-10.png" alt="Renault Mégane R.S. Trophy-R">
            <h2>Mégane R.S. Trophy-R</h2>
            <h4>2019-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78961063-renault-m-gane-rs-trophy-r-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="safranebiturbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Safrane%20Biturbo-06.png" alt="Renault Safrane Biturbo">
            <h2>Safrane Biturbo</h2>
            <h4>1993-1996</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78905017-renault-safrane-biturbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sportspider" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Sport%20Spider-05.png" alt="Renault Sport Spider">
            <h2>Sport Spider</h2>
            <h4>1995-1999</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78897355-renault-sport-spider-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="twingors133" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Twingo%20RS%20133-04.png" alt="Renault Twingo R.S. 133">
            <h2>Twingo R.S. 133</h2>
            <h4>2012-2014</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78859557-renault-twingo-rs-133-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="velsatis" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Vel%20Satis-03.png" alt="Renault Vel Satis">
            <h2>Vel Satis</h2>
            <h4>2001-2009</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/84847651-renault-vel-satis-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="wind" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Renault/Renault%20Wind-03.png" alt="Renault Wind">
            <h2>Wind</h2>
            <h4>2010-2013</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/78859163-renault-wind-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>