<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Saturn </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="openbtn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Saturn </h1>
        </div>
        <div class="car-post">
            <img id="ionredline" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Saturn/Saturn%20Ion%20Redline-02.png" alt="Saturn Ion Redline">
            <h2>Ion Redline</h2>
            <h4>2004-2007</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/62955949-saturn-ion-redline-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sc2" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Saturn/Saturn%20SC2-03.png" alt="Saturn SC2">
            <h2>SC2</h2>
            <h4>2000-2002</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/62957663-saturn-sc2-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sky" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Saturn/Saturn%20Sky-01.png" alt="Saturn Sky">
            <h2>Sky</h2>
            <h4>2006-2009</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/62950521-saturn-sky-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>