<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Simca </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Simca </h1>
        </div>
        <div class="car-post">
            <img id="9" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Simca/Simca%209-07.png" alt="Simca 9">
            <h2>9</h2>
            <h4>1952-1954</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/90437793-simca-9-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="1000rallye2" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Simca/Simca%201000%20Rallye%202-02.png" alt="Simca 1000 Rallye 2">
            <h2>1000 Rallye 2</h2>
            <h4>1972-1976</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/90338300-simca-1000-rallye-2-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="1301" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Simca/Simca%201301-03.png" alt="Simca 1301">
            <h2>1301</h2>
            <h4>1967-1976</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/90379164-simca-1301-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="1309" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Simca/Simca%201309-04.png" alt="Simca 1309">
            <h2>1309</h2>
            <h4>1975-1980</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/90380835-simca-1309-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="abarth2000gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Simca/Abarth-Simca%202000%20GT-05.png" alt="Abarth-Simca 2000 GT">
            <h2>Abarth 2000 GT</h2>
            <h4>1964-1968</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/90390411-abarth-simca-2000-gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="arondepleinciel" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Simca/Simca%20Aronde%20Plein%20Ciel-06.png" alt="Simca Aronde Plein Ciel">
            <h2>Aronde Plein Ciel</h2>
            <h4>1958-1964</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/90435794-simca-aronde-plein-ciel-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="coupe1000" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Simca/Simca%20Coupe%201000-01.png" alt="Simca Coupé 1000">
            <h2>Coupé 1000</h2>
            <h4>1967-1967</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/90273076-simca-coup-1000-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>