<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Subaru </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Subaru </h1>
        </div>
        <div class="car-post">
            <img id="360" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20360.png" alt="Subaru 360">
            <h2>360</h2>
            <h4>1958-1971</h4>
            <h3>Buy Merch: 
                {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144133677">RedBubble</a> --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45452155-subaru-360-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500770688/360-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="alcyonesvx" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Alcyone%20SVX.png" alt="Subaru Alcyone SVX">
            <h2>Alcyone SVX</h2>
            <h4>1991-1996</h4>
            <h3>Buy Merch: 
                {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144133677">RedBubble</a> --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26253652-subaru-alcyone-svx-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500771184/alcyone-svx-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="ascent" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Ascent.png" alt="Subaru Ascent">
            <h2>Ascent</h2>
            <h4>2018-present</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144133781">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453774-subaru-ascent-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500771632/ascent-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="baja" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Baja.png" alt="Subaru Baja">
            <h2>Baja</h2>
            <h4>2002-2006</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144180578">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453857-subaru-baja-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514956287/baja-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="brat" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Brat%20(1981).png" alt="Subaru Brat">
            <h2>Brat</h2>
            <h4>1981-1994</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144545734">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453865-subaru-brat-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514956673/brat-1981-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="brzzn6" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20BRZ%20(ZN6).png" alt="Subaru BRZ">
            <h2>BRZ (ZN6)</h2>
            <h4>2012-2020</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144546733">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453879-subaru-brz-zn6-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514957387/brz-and-brz-ts-zn6-silhouette-vector?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="brzzn8" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20BRZ%20(ZN8).png" alt="Subaru BRZ">
            <h2>BRZ (ZN8)</h2>
            <h4>2021-present</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144550481">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453889-subaru-brz-zn8-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514957665/brz-zn8-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="crosstrekgp" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Crosstrek%20(GP).png" alt="Subaru Crosstrek (GP)">
            <h2>Crosstrek (GP)</h2>
            <h4>2012-2017</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144585369">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453897-subaru-crosstrek-gp-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500774088/crosstrek-gp-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="crosstrekgt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Crosstrek%20(GT).png" alt="Subaru Crosstrek (GT)">
            <h2>Crosstrek (GT)</h2>
            <h4>2018-2023</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144613584">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453916-subaru-crosstrek-gt-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514958531/crosstrek-gt-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="domingokj" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Domingo%20(KJ).png" alt="Subaru Domingo (KJ)">
            <h2>Domingo (KJ)</h2>
            <h4>1982-1992</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144616905">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453964-subaru-domingo-kj-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514959701/domingo-kj-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="domingofa" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Domingo%20(FA).png" alt="Subaru Domingo (FA)">
            <h2>Domingo (FA)</h2>
            <h4>1992-1998</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144619715">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453929-subaru-domingo-fa-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514959259/domingo-fa-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="exiga" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Exiga.png" alt="Subaru Exiga">
            <h2>Exiga</h2>
            <h4>2008-2018</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145408556">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453991-subaru-exiga-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500776086/exiga-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="ff1" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20FF-1%20Sports%20Coupe.png" alt="Subaru FF-1 Sports Coupe">
            <h2>FF-1 Sports Coupe</h2>
            <h4>1969-1970</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144624306">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454000-subaru-ff-1-sports-sedan-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514960511/ff-1-sports-coupe-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="forestersf" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Forester%20(SF).png" alt="Subaru Forester (SF)">
            <h2>Forester (SF)</h2>
            <h4>1997-2002</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144668836">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454021-subaru-forester-sf-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500776864/forester-sf-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="forestersg" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Forester%20(SG).png" alt="Subaru Forester (SG)">
            <h2>Forester (SG)</h2>
            <h4>2002-2008</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144670904">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454034-subaru-forester-sg-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514961631/forester-sg-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="forestersh" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Forester%20(SH).png" alt="Subaru Forester (SH)">
            <h2>Forester (SH)</h2>
            <h4>2008-2013</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144709381">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454048-subaru-forester-sh-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514961961/forester-sh-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="forestersj" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Forester%20(SJ).png" alt="Subaru Forester (SJ)">
            <h2>Forester (SJ)</h2>
            <h4>2014-2018</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144757370">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454060-subaru-forester-sj-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514962219/forester-sj-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="forestersk" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Forester%20(SK).png" alt="Subaru Forester (SK)">
            <h2>Forester (SK)</h2>
            <h4>2019-2024</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144835749">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454070-subaru-forester-sk-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514962513/forester-sk-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="impreza22bsti" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Impreza%20WRX%20STI%2022B-04.png" alt="Subaru Impreza WRX STI 22B">
            <h2>Impreza 22B STI</h2>
            <h4>1998</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144841266">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454091-subaru-impreza-22b-sti-gm-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500779000/impreza-22b-sti-gm-silhouette-vector?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="imprezawrxstigc" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Impreza%20WRX%20STi%20(GC).png" alt="Subaru Impreza WRX STI (GC)">
            <h2>Impreza WRX STI (GC)</h2>
            <h4>1992-2000</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144841087">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454207-subaru-impreza-wrx-sti-gc-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500779936/impreza-wrx-sti-gcgf-silhouette-vector?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="imprezawrxstigf" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Impreza%20WRX%20STi%20Wagon%20(GF).png" alt="Subaru Impreza WRX STI Wagon(GF)">
            <h2>Impreza WRX STI Wagon (GF)</h2>
            <h4>1993-2000</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/144841179">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454358-subaru-impreza-wrx-sti-wagon-gf-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500779936/impreza-wrx-sti-gcgf-silhouette-vector?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="imprezawrxstigv" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Impreza%20WRX%20STI%20(GV).png" alt="Subaru Impreza WRX STI (GV)">
            <h2>Impreza WRX STI (GV)</h2>
            <h4>2011-2014</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145088300">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454294-subaru-impreza-wrx-sti-gv-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514967441/impreza-wrx-sti-gvgr-silhouette-vector?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="imprezawrxstigr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Impreza%20WRX%20STI%20Hatchback%20(GR).png" alt="Subaru Impreza WRX STI Hatchback(GR)">
            <h2>Impreza WRX STI Hatchback (GR)</h2>
            <h4>2011-2014</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145088391">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454340-subaru-impreza-wrx-sti-hatchback-gr-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514967441/impreza-wrx-sti-gvgr-silhouette-vector?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="justy" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Justy.png" alt="Subaru Justy">
            <h2>Justy</h2>
            <h4>1984-1994</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145379271">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454415-subaru-justy-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514967833/justy-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybc" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%202.0%20RS%20(BC).png" alt="Subaru Legacy 2.0 RS (BC)">
            <h2>Legacy 2.0 RS (BC)</h2>
            <h4>1989-1994</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145414181">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454527-subaru-legacy-20-rs-bc-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514968901/legacy-bcbj-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybj" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%20Wagon%20(BJ).png" alt="Subaru Legacy Wagon (BJ)">
            <h2>Legacy Wagon (BJ)</h2>
            <h4>1989-1994</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145414579">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454675-subaru-legacy-wagon-bj-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514968901/legacy-bcbj-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybd" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%20RS%20(BD).png" alt="Subaru Legacy RS (BD)">
            <h2>Legacy RS (BD)</h2>
            <h4>1993-1999</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145508056">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454642-subaru-legacy-rs-bd-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500785312/legacy-bdbg-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybg" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%202.0%20GT-B%20Touring%20Wagon%20(BG).png" alt="Subaru Legacy 2.0 GT-B Touring Wagon (BG)">
            <h2>Legacy 2.0 GT-B Touring Wagon (BG)</h2>
            <h4>1996-1998</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145508173">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454517-subaru-legacy-20-gt-b-touring-wagon-bg?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500785312/legacy-bdbg-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybe" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%20B4%20(BE).png" alt="Subaru Legacy B4 (BE)">
            <h2>Legacy B4 (BE)</h2>
            <h4>1998-2004</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145541605">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454596-subaru-legacy-b4-be-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500786044/legacy-bebh-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybh" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%20GT%20Touring%20Wagon%20(BH).png" alt="Subaru Legacy GT Touring Wagon (BH)">
            <h2>Legacy GT Touring Wagon (BH)</h2>
            <h4>1998-2004</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145541734">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454609-subaru-legacy-gt-touring-wagon-bh-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500786044/legacy-bebh-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybl" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%202.5GT%20(BL).png" alt="Subaru Legacy 2.5GT (BL)">
            <h2>Legacy 2.5GT (BL)</h2>
            <h4>2004-2009</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145573542">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454543-subaru-legacy-25gt-bl-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514970845/legacy-blbp-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybp" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%202.5GT%20Wagon%20(BP).png" alt="Subaru Legacy 2.5GT Wagon (BP)">
            <h2>Legacy 2.5GT Wagon (BP)</h2>
            <h4>2004-2009</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145573649">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454581-subaru-legacy-25gt-wagon-bp-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514970845/legacy-blbp-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybm" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%20(BM).png" alt="Subaru Legacy (BM)">
            <h2>Legacy (BM)</h2>
            <h4>2009-2014</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145575754">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454459-subaru-legacy-bm-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500787182/legacy-bmbr-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%20Wagon%20(BR).png" alt="Subaru Legacy Wagon (BR)">
            <h2>Legacy Wagon (BR)</h2>
            <h4>2009-2014</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145575862">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454699-subaru-legacy-wagon-br-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500787182/legacy-bmbr-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="legacybn" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Legacy%20(BN).png" alt="Subaru Legacy (BN)">
            <h2>Legacy (BN)</h2>
            <h4>2014-2020</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145615818">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454487-subaru-legacy-bn-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500787600/legacy-bn-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="levorgvm" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Levorg%20STI%20Sport%20(VM).png" alt="Subaru Levorg STI Sport (VM)">
            <h2>Levorg STI Sport (VM)</h2>
            <h4>2014-2020</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145646768">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454713-subaru-levorg-sti-sport-vm-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500788704/levorg-sti-sport-vm-silhouette-vector?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="levorgvn" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Levorg%20STI%20Sport%20(VN).png" alt="Subaru Levorg STI Sport (VN)">
            <h2>Levorg STI Sport (VN)</h2>
            <h4>2020-present</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145650601">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454726-subaru-levorg-sti-sport-vn-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514973097/levorg-sti-sport-vn-silhouette-vector?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="outbackbs" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Outback%20(BS).png" alt="Subaru Outback (BS)">
            <h2>Outback (BS)</h2>
            <h4>2014-2021</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145678835">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454754-subaru-outback-bs-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500789684/outback-bs-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="outbackbt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Outback%20(BT).png" alt="Subaru Outback (BT)">
            <h2>Outback (BT)</h2>
            <h4>2021-present</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145678921">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454765-subaru-outback-bt-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500789984/outback-bt-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="r1" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20R1.png" alt="Subaru R1">
            <h2>R1</h2>
            <h4>2005-2010</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145683079">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454780-subaru-r1-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500790276/r1-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="b9tribeca" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20B9%20Tribeca.png" alt="Subaru B9 Tribeca">
            <h2>B9 Tribeca</h2>
            <h4>2005-2007</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145686807">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45453805-subaru-b9-tribeca-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500790714/b9-tribeca-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="tribeca" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20Tribeca.png" alt="Subaru Tribeca">
            <h2>Tribeca</h2>
            <h4>2008-2014</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145686895">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45454795-subaru-tribeca-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514974927/tribeca-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="wrxva" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20WRX%20STI%20(VA).png" alt="Subaru WRX STI (VA)">
            <h2>WRX STI (VA)</h2>
            <h4>2014-2021</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145090939">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45507258-subaru-wrx-sti-va-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514975575/wrx-sti-va-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="wrxvb" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20WRX%20(VB).png" alt="Subaru WRX (VB)">
            <h2>WRX (VB)</h2>
            <h4>2021-present</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/145098873">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/45507307-subaru-wrx-vb-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1500791860/wrx-vb-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
        <div class="car-post">
            <img id="xt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Subaru/Subaru%20XT.png" alt="Subaru XT">
            <h2>XT</h2>
            <h4>1985-1991</h4>
            <h3>Buy Merch: 
                {{!-- {{!-- <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/60803491">RedBubble</a> --}} --}}
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26253888-subaru-xt-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1514976197/xt-silhouette-vector-file?ref=listings_manager_grid">Etsy</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>