<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Suzuki </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Suzuki </h1>
        </div>
        <div class="car-post">
            <img id="aerio" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Aerio-01.png" alt="Suzuki Aerio">
            <h2>Aerio</h2>
            <h4>2001-2007</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92137532-suzuki-aerio-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="altoworksrsr" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Alto%20Works%20RS%20R-02.png" alt="Suzuki Alto Works RS/R">
            <h2>Alto Works RS/R</h2>
            <h4>1991-1994</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92140619-suzuki-alto-works-rs-r-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="altolapin" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Alto%20Lapin-04.png" alt="Suzuki Alto Lapin">
            <h2>Alto Lapin</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92242882-suzuki-alto-lapin-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="altoturbors" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Alto%20Turbo%20RS-03.png" alt="Suzuki Alto Turbo RS">
            <h2>Alto Turbo RS</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92222117-suzuki-alto-turbo-rs-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="baleno" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Baleno-05.png" alt="Suzuki Baleno">
            <h2>Baleno</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92252653-suzuki-baleno-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="cappuccino" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Cappuccino-06.png" alt="Suzuki Cappuccino">
            <h2>Cappuccino</h2>
            <h4>1991-1996</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92259297-suzuki-cappuccino-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="grandvitara1998" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Grand%20Vitara%20(1998)-07.png" alt="Suzuki Grand Vitara (1998)">
            <h2>Grand Vitara</h2>
            <h4>1998-2006</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92322336-suzuki-grand-vitara-1998-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="grandvitara2008" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Grand%20Vitara%20(2008)-08.png" alt="Suzuki Grand Vitara (2008)">
            <h2>Grand Vitara</h2>
            <h4>2008-2017</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92328895-suzuki-grand-vitara-2008-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="hustlerhybridx" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Hustler%20Hybrid%20X-09.png" alt="Suzuki Hustler Hybrid X">
            <h2>Hustler Hybrid X</h2>
            <h4>2020-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92342855-suzuki-hustler-hybrid-x-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="ignissport" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Ignis%20Sport-10.png" alt="Suzuki Ignis Sport (2003)">
            <h2>Ignis Sport</h2>
            <h4>2003-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92357438-suzuki-ignis-sport-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="ignis" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Ignis-11.png" alt="Suzuki Ignis (2015)">
            <h2>Ignis</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92361173-suzuki-ignis-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="jimny1990" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Jimny%20(1990)-12.png" alt="Suzuki Jimny (1990)">
            <h2>Jimny</h2>
            <h4>1981-1998</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92374103-suzuki-jimny-1990-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="jimny2012" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Jimny%20(2012)-13.png" alt="Suzuki Jimny (2012)">
            <h2>Jimny</h2>
            <h4>1998-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92446785-suzuki-jimny-2012-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="jimny2018" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Jimny%20(2018)-14.png" alt="Suzuki Jimny (2018)">
            <h2>Jimny</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92450758-suzuki-jimny-2018-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="kizashi" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Kizashi-15.png" alt="Suzuki Kizashi">
            <h2>Kizashi</h2>
            <h4>2009-2014</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92455433-suzuki-kizashi-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mightyboy" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Mighty%20Boy-16.png" alt="Suzuki Mighty Boy">
            <h2>Mighty Boy</h2>
            <h4>1983-1988</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92475223-suzuki-mighty-boy-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="samurai" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Samurai-01.png" alt="Suzuki Samurai">
            <h2>Samurai</h2>
            <h4>1990-1998</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92477735-suzuki-samurai-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sc100" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20SC100-02.png" alt="Suzuki SC100">
            <h2>SC100</h2>
            <h4>1978-1982</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92480246-suzuki-sc100-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="soliobandithybrid" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Solio%20Bandit%20Hybrid-03.png" alt="Suzuki Solio Bandit Hybrid">
            <h2>Solio Bandit Hybrid</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92499001-suzuki-solio-bandit-hybrid-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="spaciagearxzturbo" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Spacia%20GEAR%20XZ%20Turbo-04.png" alt="Suzuki Spacia GEAR XZ Turbo">
            <h2>Spacia GEAR XZ Turbo</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92787935-suzuki-spacia-gear-xz-turbo-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="splash" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Splash-05.png" alt="Suzuki Splash">
            <h2>Splash</h2>
            <h4>2012-2017</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92788282-suzuki-splash-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="swiftgti" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Swift%20GTi-06.png" alt="Suzuki Swift GTi (1986)">
            <h2>Swift GTi</h2>
            <h4>1986-1988</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/93423360-suzuki-swift-1986-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="swiftsport2005" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Swift%20Sport%20(2005)-07.png" alt="Suzuki Swift Sport (2005)">
            <h2>Swift Sport</h2>
            <h4>2005-2011</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92792394-suzuki-swift-sport-2005-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="swiftsport2011" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Swift%20Sport%20(2011)-08.png" alt="Suzuki Swift Sport (2011)">
            <h2>Swift Sport</h2>
            <h4>2011-2017</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92792546-suzuki-swift-sport-2011-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="swiftsport2018" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Swift%20Sport%20(2018)-09.png" alt="Suzuki Swift Sport (2018)">
            <h2>Swift Sport</h2>
            <h4>2018-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92792777-suzuki-swift-sport-2018-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sx4" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20SX4-10.png" alt="Suzuki SX4 (2006)">
            <h2>SX4</h2>
            <h4>2006-2018</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92801556-suzuki-sx4-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sx4sedan" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20SX4%20Sedan-11.png" alt="Suzuki SX4 Sedan (2007)">
            <h2>SX4</h2>
            <h4>2007-2014</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92801674-suzuki-sx4-sedan-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="sx4scross" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20SX4-10.png" alt="Suzuki SX4 S-Cross (2013)">
            <h2>SX4</h2>
            <h4>2013-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92803586-suzuki-sx4-s-cross-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="twin" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Twin-13.png" alt="Suzuki Twin">
            <h2>Twin</h2>
            <h4>2003-2005</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92810695-suzuki-twin-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="vitara1989" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Vitara%20(1988)-14.png" alt="Suzuki Vitara (1989)">
            <h2>Vitara</h2>
            <h4>1989-1998</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92875230-suzuki-vitara-1989-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="vitara2015" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Vitara%20(2015)-15.png" alt="Suzuki Vitara (2015)">
            <h2>Vitara</h2>
            <h4>2015-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92879814-suzuki-vitara-2015-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="wagonr+1997" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Wagon%20R%2B%20(1997)-16.png" alt="Suzuki Wagon R+ (1997)">
            <h2>Wagon R+</h2>
            <h4>1997-2000</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92888984-suzuki-wagon-r-1997-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="wagonr+2000" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Wagon%20R%2B%20(2000)-01.png" alt="Suzuki Wagon R+ (2000)">
            <h2>Wagon R+</h2>
            <h4>2000-2006</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92887677-suzuki-wagon-r-2000-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="wagonr2017" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20Wagon%20R%20(2017)-02.png" alt="Suzuki Wagon R (2017)">
            <h2>Wagon R</h2>
            <h4>2017-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92890946-suzuki-wagon-r-2017-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="x90" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20X-90-03.png" alt="Suzuki X-90">
            <h2>X-90</h2>
            <h4>1995-1998</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92892732-suzuki-x-90-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xl72001" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20XL-7%20(1998)-04.png" alt="Suzuki XL-7 (2001)">
            <h2>XL-7</h2>
            <h4>2001-2006</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92898576-suzuki-xl-7-1998-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="xl72006" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Suzuki/Suzuki%20XL-7%20(2006)-05.png" alt="Suzuki XL-7 (2006)">
            <h2>XL-7</h2>
            <h4>2006-2009</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/92900141-suzuki-xl-7-2006-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>