<!DOCTYPE html>
<html lang="en">
<html>

<head>
</head>


<body>
<a href="#" class="openbtn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>

<div class="clk"><a href="javascript:void"><i class="fa fa-plus-circle"></i>some text</a><div></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script>
    $('.js--nav-icon').click(function() {
        var nav = $('.js--main-nav');
        var icon = $('.js--nav-icon ion-icon')
        var attr = $('.js--nav-icon ion-icon').attr('name')
        
        nav.slideToggle(200);
        if (attr == 'menu-outline') {
            icon.attr('name','close-outline')
        } else {
            icon.attr('name','menu-outline')
        }
    });
</script>

</body>



