<!DOCTYPE html>
<html>
<head>

    <link rel="icon" href="/img/iconMain-10.png">
    <link rel="stylesheet" href="/css/headerStyles.css">
    <link rel="stylesheet" href="/css/footerStyles.css">
    <link rel="stylesheet" href="/css/sidebarStyles.css">
    <link rel="stylesheet" href="/css/testStyles.css">

</head>
<body>

    <title> Test </title>

    <div class="container">

        {{>header}}
        {{>sidebar}}

    <div class="item-main">
      <div class="main">

        <div>
          <h1>CSS Variable Are On 🔥</h1>
          <button id="root">Change CSS Var</button>
        </div>

        <div class="wrapper">
          <h1>CSS Variable Are On 🔥</h1>
          <button id="wrapper-btn">Change CSS Var</button>
        </div>

      </div>
    </div>

        </div>

        {{>footer}}

    </div>

    {{>script}}

</body>
</html>