<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Toyota </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Toyota </h1>
        </div>
        <div class="car-post">
            <img id="2000gt" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%202000GT-16.png" alt="Toyota 2000GT">
            <h2>2000GT</h2>
            <h4>1967-1970</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/75350953-toyota-2000gt-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="celica2000gtliftback" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Celica%202000%20GT%20Liftback%20A20-14.png" alt="Toyota Celica 2000 GT Liftback (RA28)">
            <h2>Celica 2000 GT Liftback (RA28)</h2>
            <h4>1970-1977</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/75288190-toyota-celica-2000-gt-liftback-ra28-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="celicaliftbacka60" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Celica%20Liftback%20A60-13.png" alt="Toyota Celica Liftback (A60)">
            <h2>Celica Liftback (A60)</h2>
            <h4>1981-1985</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/75256630-toyota-celica-liftback-a60-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="celicagtssportcoupett160" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Celica%20GT-S%20Sport%20Coupe%20T160-12.png" alt="Toyota Celica Sport Coupe (T160)">
            <h2>Celica Sport Coupe (T160)</h2>
            <h4>1985-1989</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/75254450-toyota-celica-gt-s-sport-coupe-t160-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="celicagtt180" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Celica%20GT%20T180-11.png" alt="Toyota Celica GT (T180)">
            <h2>Celica GT (T180)</h2>
            <h4>1989-1993</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/75212360-toyota-celica-gt-t180-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="celicagtfourst205" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Celica%20GT-Four%20ST205-10.png" alt="Toyota Celica GT-Four (ST205)">
            <h2>Celica GT-Four (ST205)</h2>
            <h4>1994-1999</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/75210424-toyota-celica-gt-four-st205-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="celicagtst230" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Celica%20GT-S-09.png" alt="Toyota Celica GT-S (T230)">
            <h2>Celica GT-S (T230)</h2>
            <h4>1999-2006</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/75200564-toyota-celica-gt-s-t230-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="corollalevingtapexae86" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Corolla%20Levin%20GT-Apex-15.png" alt="Toyota Corolla Levin GT-Apex (AE86)">
            <h2>Corolla Levin GT-Apex (AE86)</h2>
            <h4>1984-1987</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/75330405-toyota-corolla-levin-gt-apex-ae86-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mr2w10" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20MR2%20W10-08.png" alt="Toyota MR2 (W10)">
            <h2>MR2 (W10)</h2>
            <h4>1984-1989</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60183347-toyota-mr2-w10-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mr2w20" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20MR2%20W20-07.png" alt="Toyota MR2 (W20)">
            <h2>MR2 (W20)</h2>
            <h4>1989-1999</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60183136-toyota-mr2-w20-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="mr2w30" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20MR2%20W30-06.png" alt="Toyota MR2 (W30)">
            <h2>MR2 (W30)</h2>
            <h4>1999-2007</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60182947-toyota-mr2-w30-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="supraa50" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Supra%20A50-05.png" alt="Toyota Supra (A50)">
            <h2>Supra (A50)</h2>
            <h4>1978-1981</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60182372-toyota-celica-supra-a50-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="supraa60" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Supra%20A60-04.png" alt="Toyota Supra (A60)">
            <h2>Supra (A60)</h2>
            <h4>1981-1985</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60075668-toyota-celica-supra-a60-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="supraa70" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Supra%20A70-03.png" alt="Toyota Supra (A70)">
            <h2>Supra (A70)</h2>
            <h4>1986-1993</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60072417-toyota-supra-a70-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="supraa80" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Supra%20A80-02.png" alt="Toyota Supra (A80)">
            <h2>Supra (A80)</h2>
            <h4>1993-2002</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60029701-toyota-supra-a80-silhouette?asc=u">Shop</a></h3>
        </div>
        <div class="car-post">
            <img id="supraa90" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Toyota/Toyota%20Supra%20A90-01.png" alt="Toyota Supra (A90)">
            <h2>Supra (A90)</h2>
            <h4>2019-present</h4>
            <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/60021353-toyota-gr-supra-a90-silhouette?asc=u">Shop</a></h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>