<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> Triumph </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> Triumph </h1>
        </div>
        <div class="car-post">
            <img id="2500tc" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%202500%20TC-01.png" alt="Triumph 2500 TC">
            <h2>2500 TC</h2>
            <h4>1974-1977</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88018737-triumph-2500tc-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="dolomitesprint" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20Dolomite%20Sprint-02.png" alt="Triumph Dolomite Sprint">
            <h2>Dolomite Sprint</h2>
            <h4>1973-1980</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88183603-triumph-dolomite-sprint-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="gt6" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20GT6-03.png" alt="Triumph GT6">
            <h2>GT6</h2>
            <h4>1966-1968</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88033328-triumph-gt6-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="herald1250" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20Herald%2012%2050-04.png" alt="Triumph Herald 12/50">
            <h2>Herald 12/50</h2>
            <h4>1963-1967</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88035352-triumph-herald-12-50-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="italia2000" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20Italia%202000-05.png" alt="Triumph Italia 2000">
            <h2>Italia 2000</h2>
            <h4>1959-1962</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/74928027-triumph-italia-2000-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="spitfiremki" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20Spitfire%20Mk%20I%20(1965)-06.png" alt="Triumph Spitfire Mk I">
            <h2>Spitfire Mk I</h2>
            <h4>1962-1964</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88058825-triumph-spitfire-mk-i-1967-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="spitfire1500" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20Spitfire%201500-07.png" alt="Triumph Spitfire 1500">
            <h2>Spitfire 1500</h2>
            <h4>1974-1980</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88059618-triumph-spitfire-1500-1978-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="stag" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20Stag-08.png" alt="Triumph Stag">
            <h2>Stag</h2>
            <h4>1970-1977</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88077369-triumph-stag-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tr2" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20TR2-09.png" alt="Triumph TR2">
            <h2>TR2</h2>
            <h4>1953-1955</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88133899-triumph-tr2-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tr3a" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20TR3A-10.png" alt="Triumph TR3A">
            <h2>TR3A</h2>
            <h4>1957-1962</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88134242-triumph-tr3a-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tr4" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20TR4-11.png" alt="Triumph TR4">
            <h2>TR4</h2>
            <h4>1961-1968</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88138650-triumph-tr4-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tr5" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20TR5-12.png" alt="Triumph TR5">
            <h2>TR5</h2>
            <h4>1967-1968</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88141313-triumph-tr5-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tr6" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20TR6-13.png" alt="Triumph TR6">
            <h2>TR6</h2>
            <h4>1969-1976</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88157153-triumph-tr6-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tr7" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20TR7-14.png" alt="Triumph TR7">
            <h2>TR7</h2>
            <h4>1974-1981</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88175996-triumph-tr7-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="tr8" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20TR8-15.png" alt="Triumph TR8">
            <h2>TR8</h2>
            <h4>1979-1981</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88176138-triumph-tr8-silhouette?asc=u">Shop</a></h3> --}}
        </div>
        <div class="car-post">
            <img id="vitesse" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/Triumph/Triumph%20Vitesse-16.png" alt="Triumph Vitesse">
            <h2>Vitesse</h2>
            <h4>1962-1971</h4>
            {{!-- <h3>Buy here: <a href="https://www.redbubble.com/people/in-transit/works/88184552-triumph-vitesse-silhouette?asc=u">Shop</a></h3> --}}
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>