<!DOCTYPE html>
<html lang="en">
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3MB70VT6KY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3MB70VT6KY');
    </script>

    <title> TVR </title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Car Silhouettes showcases striking and detailed designs of your favourite cars that can be bought on many high-quality products.">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#111111">

</head>

<body>

    {{>header}}
    {{>sidebar}}
    {{>sidebarMobile}}

    <div class="main-content pure-u-1 pure-u-md-3-4">
        <a href="#" class="sidebar--mobile-btn mobile-nav-icon js--nav-icon" onclick="openNav()"><ion-icon name="menu-outline"></ion-icon></a>
        <div class="title">
            <h1> TVR </h1>
        </div>
        <div class="car-post">
            <img id="280iconvertible" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20280i%20Convertible-01.png" alt="TVR 280i Convertible">
            <h2>280i Convertible</h2>
            <h4>1984-1987</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74763358">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26273862-tvr-280i-convertible-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1308719698/280i-convertible-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="430se" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20430SE-02.png" alt="TVR 430SE">
            <h2>430SE</h2>
            <h4>1988-1991</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74763989">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26273877-tvr-430se-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1308719926/430se-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="cerbera" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20Cerbera-03.png" alt="TVR Cerbera">
            <h2>Cerbera</h2>
            <h4>1996-2006</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74751507">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26273899-tvr-cerbera-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1308720198/cerbera-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="chimaera" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20Chimaera-04.png" alt="TVR Chimaera">
            <h2>Chimaera</h2>
            <h4>1992-2003</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74811208">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26273921-tvr-chimaera-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1322745757/chimaera-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="griffith400" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20Griffith%20400-05.png" alt="TVR Griffith 400">
            <h2>Griffith 400</h2>
            <h4>1963-1967</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74831608">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26273943-tvr-griffith-400-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1308720678/griffith-400-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="griffith500" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20Griffith%20500-06.png" alt="TVR Griffith 500">
            <h2>Griffith 500</h2>
            <h4>1991-2002</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74834727">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26273959-tvr-griffith-500-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1322746277/griffith-500-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="sagaris" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20Sagaris-07.png" alt="TVR Sagaris">
            <h2>Sagaris</h2>
            <h4>2005-2006</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74849690">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26273976-tvr-sagaris-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1308721146/sagaris-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="t350" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20T350-08.png" alt="TVR T350">
            <h2>T350</h2>
            <h4>2002-2006</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74854326">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26273992-tvr-t350-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1322746903/t350-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="tamora" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20Tamora-09.png" alt="TVR Tamora">
            <h2>Tamora</h2>
            <h4>2002-2006</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74858705">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26274002-tvr-tamora-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1322747095/tamora-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="tuscans" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20Tuscan%20S-10.png" alt="TVR Tuscan S">
            <h2>Tuscan S</h2>
            <h4>1999-2006</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74861040">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26274030-tvr-tuscan-s-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1322747387/tuscan-s-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
        <div class="car-post">
            <img id="v8s" class="fullimage" src="https://storage.googleapis.com/car-silhouette-1/TVR/TVR%20V8S-11.png" alt="TVR V8S">
            <h2>V8S</h2>
            <h4>1991-1993</h4>
            <h3>Buy Merch: 
                <a class="fcc redb" target="_blank" href="https://www.redbubble.com/shop/ap/74913946">RedBubble</a>
                <a class="fcc teep" target="_blank" href="https://www.teepublic.com/t-shirt/26274053-tvr-v8s-silhouette?store_id=691587">Teepublic</a>
            </h3>
            <h3>Buy Vector File: 
                <a class="fcc etsy" target="_blank" href="https://www.etsy.com/ca/listing/1308722316/v8s-silhouette-vector-file?ref=listings_manager_grid">Etsy</a>
            </h3>
        </div>
    </div>

    {{>footer}}

    {{>script}}

</body>

</html>