<div class="footer pure-u-1">
    <div class="row">
        <div class="footer-box">
            <h4>My Links</h4>
            <a href="https://www.instagram.com/car_silhouettes" class="fa fa-instagram"></a>
        </div>
        <div class="footer-box">
            <h4>Copyright</h4>
            <p>All original material on this site is © 2021 Henry Lin. 
            </p>
        </div>
    </div>
</div>