<div class="footer pure-u-1">
    <div class="row">
        <div class="footer-box">
            <h4>My Links</h4>
            <a href="https://www.instagram.com/car_silhouettes" class="fa fa-instagram"></a>
        </div>
        <div class="footer-box">
            <h4>My Story</h4>
            <p>My name is Henry Lin. I am a graphic designer with a love for cars.
            </p>
        </div>
    </div>
</div>