<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="item-footer">
    <div class="column">
        <h4>My Links</h4>
        <a href="https://www.instagram.com/car_silhouettes" class="fa fa-instagram"></a>
    </div>
    <div class="column">
        <h4>My Story</h4>
        <p>My name is Henry Lin. I am a graphic designer with a love for cars.
        </p>
    </div>
</div>