<div class="item-header">
    <a id="header-title" href="/">Car Silhouettes</a>
    <ul id="header-nav">
        <li><a href="/new">Newest Post</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>