<header class="header pure-u-1">
    <nav>
        <div class="row">
            <div class="title-box">
                <a href="/">Car Silhouettes</a>
            </div>
            <ul class="header-nav">
                <li><a href="/bestsellers">Top 10</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>