<button onclick="darkFunction()" id="darkModebtn">Dark Mode</button>
<button onclick="topFunction()" id="topScrollbtn" title="Go to top">Top</button> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    
    
<script src="js/darkMode.js"></script>
<script src="js/dropdownMenu.js"></script>
<script src="js/randomImg.js"></script>
<script src="js/scrollTop.js"></script>
<script src="js/sideMenu.js"></script>
