<button id="darkModebtn">Dark Mode</button>
<button onclick="topFunction()" id="topScrollbtn" title="Go to top">Top</button> 
    
    
<script src="js/darkMode.js"></script>
<script src="js/scrollTop.js"></script>
