<div id="mySidebar" class="sidebarMobile">
    <ul class="menuMobile">
        <li class="submenuMobile">
            <a href="#">Acura</a>
            <a href="#" class="hide">[-]</a> 
            <a href="#" class="show">[+]</a>
            <ul class="droplistMobile">
                <li><a href="/Acura">View All</a></li>
                <li><a href="/Acura#nsxna1">NSX (NA1)</a></li>
                <li><a href="/Acura#nsxnc1">NSX (NC1)</a></li>
                <li><a href="/Acura#rsx">RSX</a></li>
                <li><a href="/Acuran#rsxtypes">RSX Type-S</a></li>
            </ul>
        </li>
        <li class="submenuMobile">
            <a href="#">Aston Martin</a>
            <a href="#" class="hide">[-]</a> 
            <a href="#" class="show">[+]</a>
            <ul class="droplistMobile">
                <li><a href="/Astonmartin">View All</a></li>
                <li><a href="/Astonmartin#cc100">CC100 Speedster</a></li>
                <li><a href="/Astonmartin#db5">DB5</a></li>
                <li><a href="/Astonmartin#db7">DB7</a></li>
                <li><a href="/Astonmartin#db9">DB9</a></li>
                <li><a href="/Astonmartin#db10">DB10</a></li>
                <li><a href="/Astonmartin#db11">DB11</a></li>
                <li><a href="/Astonmartin#dbs">DBS</a></li>
                <li><a href="/Astonmartin#dbssuperleggera">DBS Superleggera</a></li>
                <li><a href="/Astonmartin#lagondatarif">Lagonda Tarif</a></li>
                <li><a href="/Astonmartin#v8vantage">V8 Vantage</a></li>
                <li><a href="/Astonmartin#v12speedster">V12 Speedster</a></li>
                <li><a href="/Astonmartin#valhalla">Valhalla</a></li>
                <li><a href="/Astonmartin#valkyrie">Valkyrie</a></li>
                <li><a href="/Astonmartin#vantage2018">Vantage (2018)</a></li>
                <li><a href="/Astonmartin#victor">Victor</a></li>
                <li><a href="/Astonmartin#vulcan">Vulcan</a></li>
            </ul>
        </li>
        <li class="submenuMobile">
            <a href="#">Audi</a>
            <a href="#" class="hide">[-]</a> 
            <a href="#" class="show">[+]</a>
            <ul class="droplistMobile">
                <li><a href="/Audi">View All</a></li>
                <li><a href="/Audi#a58f">A5 (8F)</a></li>
            </ul>
        </li>
        <li class="submenuMobile">
            <a href="#">Bizzarrinni</a>
            <a href="#" class="hide">[-]</a> 
            <a href="#" class="show">[+]</a>
            <ul class="droplistMobile">
                <li><a href="/Bizzarrinni">View All</a></li>
                <li><a href="/Bizzarrinni#5300gtstrada">5300 GT Strada</a></li>
            </ul>
        </li>
        <li class="submenuMobile">
            <a href="#">Bricklin</a>
            <a href="#" class="hide">[-]</a> 
            <a href="#" class="show">[+]</a>
            <ul class="droplistMobile">
                <li><a href="/Bricklin">View All</a></li>
                <li><a href="/Bricklin#sv-1">SV-1</a></li>
            </ul>
        </li>
        <li class="submenuMobile">
            <a href="#">Buick</a>
            <a href="#" class="hide">[-]</a> 
            <a href="#" class="show">[+]</a>
            <ul class="droplistMobile">
                <li><a href="/Buick">View All</a></li>
                <li><a href="/Buick#gnx">GNX</a></li>
                <li><a href="/Buick#gsxstage1">GSX Stage 1</a></li>
                <li><a href="/Buick#reatta">Reatta</a></li>
            </ul>
        </li>
        <li class="submenuMobile">
            <a href="#">Jensen</a>
            <a href="#" class="hide">[-]</a> 
            <a href="#" class="show">[+]</a>
            <ul class="droplistMobile">
                <li><a href="/Jensen">View All</a></li>
                <li><a href="/Jensen#cv8">C-V8</a></li>
                <li><a href="/Jensen#interceptor">Interceptor</a></li>
            </ul>
        </li>
        <li class="submenuMobile">
            <a href="#">Tesla</a>
            <a href="#" class="hide">[-]</a> 
            <a href="#" class="show">[+]</a>
            <ul class="droplistMobile">
                <li><a href="/Tesla">View All</a></li>
                <li><a href="/Tesla#model3">Model 3</a></li>
                <li><a href="/Tesla#cybertruck">Cybertruck</a></li>
            </ul>
        </li>
    </ul>
</div>