.aside {
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}

textarea {
  width: 100%;
}

.thankyou_message {
  padding: 3em 1em;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2em;
}

.sendButton {
  color: white;
  border-radius: 0px;
  border-color: white;
  background: rgb(0, 0, 0);
  font-size: 125%;
  float: right;
}

#name, #email {
  width: 50%;
}

.pure-group {
    background: rgb(0, 0, 0);
    border: none;
}